{% extends "header.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Your page-specific content here -->
    <div class="container">
        <h3>Choose mainframe code</h3>
        <!-- Flash messages for upload feedback -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="card-panel teal lighten-4">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        
        <!-- Form to upload the file -->
        <form method="POST" action="/upload-file" id="bre_form" enctype="multipart/form-data">
            <div id="fileInputsWrapper">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="files[]" id="fileInput">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text" placeholder="Choose mainframe code">
                    </div>
                </div>
            </div>
            <button type="button" id="addFolderBtn" class="btn waves-effect waves-light">+</button>
            <button type="button" id="removeFolderBtn" class="btn waves-effect waves-light">-</button>
            <br><br>
            <button class="btn waves-effect waves-light" id="submit_btn" type="submit">Upload</button>
        </form>
    </div>
    <!-- Include Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!-- Include Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Include your custom JavaScript -->
    <script src="/static/bre-home.js"></script>
{% endblock %}
    
