<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materialize Checkbox List</title>
    <!-- Include Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h3>Checkboxed List with Materialize</h3>
        <form action="/" method="GET">
            <ul class="collection">
                {% for job in jobs %}
                <li class="collection-item">
                    <label>
                        <input type="checkbox" name="items" value="{{ item }}"/>
                        <span>{{ job }}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button class="btn waves-effect waves-light" type="submit">Submit</button>
        </form>
    </div>

    <!-- Include Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static' , filename='home.js') }}"></script>
</body>
</html>