<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process BRE</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h3>Choose mainframe code</h3>
        <!-- Flash messages for upload feedback -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="card-panel teal lighten-4">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        
        <!-- Form to upload the file -->
        <form method="POST" action="/upload-file" id="bre_form" enctype="multipart/form-data">
            <div id="fileInputsWrapper">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="files[]" id="fileInput">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" type="text" placeholder="Choose mainframe code">
                    </div>
                </div>
            </div>
            <button type="button" id="addFolderBtn" class="btn waves-effect waves-light">+</button>
            <button type="button" id="removeFolderBtn" class="btn waves-effect waves-light">-</button>
            <br><br>
            <button class="btn waves-effect waves-light" id="submit_btn" type="submit">Upload</button>
        </form>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Get the wrapper that holds the file inputs
        let wrapper = document.getElementById('fileInputsWrapper');
    
            // Add click event listener to the "+" button
            document.getElementById('addFolderBtn').addEventListener('click', function () {
            // Create a new div for the new input element
            let newMainDiv = document.createElement('div');
            newMainDiv.className = 'file-field input-field';
    
            // Create a new input element
            let newInput1 = document.createElement('input');
            newInput1.type = 'file';
            newInput1.name = 'files[]';
            newInput1.id = 'fileInput';
    
            // Create a label for the input
            let newInnerDiv1 = document.createElement('div');
            newInnerDiv1.className = 'btn';
            newInnerDiv1.innerHTML = '<span>File</span>';    
            // Append the input to the label
            newInnerDiv1.appendChild(newInput1);

            let newInnerDiv2 = document.createElement('div');
            newInnerDiv2.className = "file-path-wrapper";
            let newInput2 = document.createElement('input');
            newInput2.className = "file-path";
            newInput2.type = 'text';
            newInput2.placeholder = 'Choose mainframe code';
            newInnerDiv2.appendChild(newInput2);
            
            newMainDiv.appendChild(newInnerDiv1);
            newMainDiv.appendChild(newInnerDiv2);
    
            // Append the new input wrapper to the main wrapper
            wrapper.appendChild(newMainDiv);
        });

        document.getElementById('removeFolderBtn').addEventListener('click', function () {
        // Get all file-field input-field divs
        const inputFields = wrapper.getElementsByClassName('file-field input-field');
        
        // Check if there's more than one div to avoid removing all inputs
        if (inputFields.length > 1) {
            wrapper.removeChild(inputFields[inputFields.length - 1]);
        }
    });

    const form = document.getElementById('bre_form');

    form.addEventListener('submit', function(event) {

        event.preventDefault();
        
        const buttons = document.querySelectorAll('button');
        // Iterate over each button and disable it
        buttons.forEach(button => button.disabled = true);
        
        form.submit();
            
    });
    </script>
</body>
</html>
